transformers
sentencepiece
numpy
pandas
evaluate
accelerate
scikit-learn
ipywidgets
wandb
vllm
# langchain
# langchain-google-genai
koeda
konlpy
JPype1

dvc
dvc[gdrive]
# dvc remote add -d myremote gdrive://1A2B3C4D5E6F7G8H9I0J

nltk
kiwipiepy